{% extends 'index.html' %}
{% block title %}Mainpage{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontpage.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='sha256.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='frontpage.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Welcome!</h1>
<div class="line"></div>
<h2>to my newly made page!</h2>
<div class="linewhole"></div>
<div class="linewhole" id="shadow"></div>
<div class="linewhole"></div>
<div class="linewhole"></div>
<div class="linewhole"></div>
<div class="linewhole" id="last"></div>
<p class="first">This is a page aimed to test out some of the est skill of making a website.</p>
<div class="line"></div>
<p id="status">It seems like we've got something wrong here...<br/>Cannot find your login status, a bug, I suppose.</p>
<form>
	<input type="text" name="username"/><br/>
	<input type="password" name="password"/><br/>
	<input type="button" value="Login"/>
</form>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}