<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
	<header>
		{% block header %}
		<a class="title"><strong>Home</strong></a>
		<a class="title"><strong>Pages</strong></a>
		<a class="title"><strong>About</strong></a>
		{% endblock %}
	</header>
	<div id="left" class="main">
		
	</div>
	<div id="content" class="main">
		{% block content %}{% endblock %}
	</div>
	<div id="right" class="main">
		
	</div>
	<footer>
		{% block footer %}
		<p>Made by 12hydrogen. Power by Flask. Copyright 2020</p>
		{% endblock %}
	</footer>
	<script>
		{% block script %}
		{% endblock %}
	</script>
</body>
</html>